.feed{
  margin: 6rem 0;
  .titleAndArrows{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2rem;
    .title{
      font-size: 48px;
      font-weight: 900;
      line-height: 58px;
    }
    .arrows{
      display: flex;
      align-items: center;
      gap: 15px;
      img{
        cursor: pointer;
      }
    }
  }
  .itemsMap{
    display: flex;
    align-items: center;
    gap: 25px;
  }
}