.inp{
  width: 326px;
  height: 48px;
  background: #ece8e8;
  border-radius: 20px;
  padding-left: 2rem;
  &::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
  }
}