.item {
  .imageSec {
    width: 295px;
    height: 300px;
    background: #F0EEED;
    border-radius: 12px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {

      width: 260px;
      height: 230px;
      object-fit: contain;
    }
  }
  .title{
    font-size: 20px;
    font-weight: 700;
    color: black;
    width: 300px;
    height: 48px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .price{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: 600;
  }
  .oldPrice{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.4);
  }
}