.btn{
  height: 52px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  border-radius: 40px;
  cursor: pointer;
}